@import "../common.scss";

//quaList.scss
.qna-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.4rem 0 0.4rem 0;
  border-radius: 10px;
  border: 1px solid $white-gray;

  .qna-cont {
    display: flex;
    flex-direction: row;
    align-items: center;

    .qna-icon {
      font-size: 2.4rem;
      font-family: $font-ext;
      padding: 0.8rem;
      color: $main-color;
    }

    .qna-info {
      .qna-question {
        font-size: 1.1rem;
        font-family: $font-bold;
        margin-bottom: 0.2rem;
      }

      .qna-date {
        color: $gray;
      }
    }
  }

  .qna-name {
    font-weight: bold;
    display: flex;
    flex-direction: row;

    p {
      margin-right: 0.2rem;
    }
  }
}

@include mobile {
  .qna-list {
    width: 80%;
  }
}

@include tablet {
  .qna-list {
    width: 70%;
  }
}

@include desktop {
  .qna-list {
    width: 60%;
  }
}
