@import "../common.scss";

// question.scss
.quest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 20px 0 20px 0;
  border-radius: 10px;
  border: 1px solid $white-gray;

  .quest-info {
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 4fr 2fr;
    margin: 1rem 0 1rem 0;

    .quest-icon {
      font-size: 2.4rem;
      font-family: $font-ext;
      padding: 0.8rem;
      color: $main-color;
    }

    .quest-writer {
      margin-bottom: 0.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .quest-title {
      font-size: 1.4rem;
      font-family: $font-bold;
      margin-bottom: 0.2rem;
    }

    .quest-date {
      color: $gray;
      font-size: 0.9rem;
    }

    .quest-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 6px;
        padding: 0.4rem;
        margin-top: 0.4rem;
        font-size: 1rem;
        color: $gray;
        background: none;
        transition: 0.2s;
      }

      button:first-child {
        margin-right: 6px;
      }

      button:hover {
        color: $font-color;
        background: $white-gray;
        transition: 0.2s;
      }
    }
  }

  .quest-cont {
    margin-top: 1rem;
    color: $gray;
    font-size: 1rem;
  }
}

@include mobile {
  .quest {
    width: 80%;
  }
}

@include tablet {
  .quest {
    width: 70%;
  }
}

@include desktop {
  .quest {
    width: 60%;
  }
}
