@import "common.scss";

// global.scss
body,
html {
  box-sizing: border-box;
  font-family: $font-reg;
  color: $font-color;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: $font-reg;
}

input {
  font-family: $font-reg;
  color: inherit;
}

hr {
  width: 100%;
  height: 0.2px;
  color: $white-gray;
  background-color: $white-gray;
  border: none;
}

.bold {
  font-family: $font-bold;
}

// header
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $sub-color;
  color: $white;
  padding: 1.8rem;
  z-index: 99;

  a {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    .header-logo {
      padding: 0.6rem;
    }

    ul {
      li {
        padding: 0.6rem 1rem 0.6rem 1rem;
      }
      li:hover {
        text-decoration: underline;
      }
    }
  }

  .header-btn {
    ul {
      display: flex;
      flex-direction: row;

      li {
        margin-right: 0.6rem;

        a {
          padding: 0.6rem;
          border-radius: 0.4rem;
          background-color: $main-color;
          transition: 0.2s;
        }

        a:hover {
          background-color: $hover-color;
          transition: 0.2s;
        }
      }
    }
  }
}

// footer
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: $white-gray;
  padding: 2.2rem;
  color: $gray;

  .footer-info {
    font-size: 0.9rem;
  }
}

.notfound {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .notfound-logo {
    padding: 1.2rem;

    svg {
      fill: $main-color;
    }
  }

  .notfound-title {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }

  .notfound-link {
    padding: 0.6rem;
    border-radius: 0.4rem;
    background-color: $main-color;
    transition: 0.2s;
    color: $white;
  }

  .notfound-link:hover {
    background-color: $hover-color;
    transition: 0.2s;
  }
}

// default container
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

// layout container
.layout {
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: 300px;
  background-image: url("https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
