@import "../common.scss";

// qna.scss
.qna {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

@include mobile {
  textarea {
    width: 80% !important;
  }
}

@include tablet {
  textarea {
    width: 70% !important;
  }
}

@include desktop {
  textarea {
    width: 60% !important;
  }
}
