@import "../common.scss";

// qna.scss
.qna {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px 0 200px 0;
}

.comment-title {
  flex-grow: 0;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  textarea {
    padding: 1rem;
    width: 100%;
  }
}

@include mobile {
  .comment {
    width: 80%;
  }
}

@include tablet {
  .comment {
    width: 70%;
  }
}

@include desktop {
  .comment {
    width: 60%;
  }
}
